{% load staticfiles %}

<html>
<head>
    <title>Bacon Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="pageTitle">
    <h1>Bacon Blog</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>



